body{
	background-color:rgb(6,36,63);
}

page{
	width:1000px;
	height:auto;
}

homepage{
	background-color: white;
	width:1000px;
	height:auto;
}

.file{
	border-radius: 10px;
	position:relative;
	width:400px;
	height:300px;
	top:250px;
	left:450px;
	background-color: white;
}
.titles{
	width:100px;
}

.titles p{
	font-size: 30px;
}

.file .align{
	left:130px;
	position: relative;
}

.file h2{
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.file p{
	float: center;
}

.side{
	float: right;
	position:relative;
	right:50px;
}


.header{
	width:1000px;
	height:100px;
}

.header h1{
	color:white;
	float:left;
	position:relative;
	top:20px;
}

.header h2{
	color:white;
	float:left;
	position:relative;
	top:0;
}

.header h3{
	color:rgb(133,153,147);
	float:left;
	position:absolute;
	top:60px;
}

.header .sublinks{
	width:300px;
	height:70px;
	float:right;
	border-style:groove;
}

.header .sublinks a{
	color:white;
	text-decoration:none;
	position:relative;
	top:20px;
}

.linkspart
{
	width:1000px;
	height:40px;
	background-color:white;
	border-radius:10px;
	margin-top:10px;
}
.linkspart  a{
	color:rgb(133,153,147);
	text-decoration:none;
	font-size:25;
	position:relative;
	top:5px;
}

.linkspart a:hover{
	color:white;
	background-color:rgb(6,36,63);
	border-radius:12px;
}

.bodypart {
	width:1000px;
	height:auto;
	background-color:white;
	border-radius:10px;
	position:relative;
	top:30px;
	padding-top: 40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left: 80px;
}

.bodypart5 {
	width:1000px;
	height:1400px;
	background-color:white;
	border-radius:10px;
	position:relative;
	top:30px;
	padding-top: 40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left: 80px;
}

.bodypart3 {
	width:1000px;
	height:auto;
	background-color:white;
	border-radius:10px;
	position:relative;
	top:30px;
}

.bodypart p{
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
}

.bodypart1 {
	width:1000px;
	height:500;
	background-color:white;
	border-radius:10px;
	position:relative;
	top:30px;
}

.bodypart1 h2{
	color:black;
}

.bodypart .linkpart {
	width:290px;
	height:440px;
	background-color:rgb(6,36,63);
	border-radius:10px;
	position:absolute;
	top:5px;
	left:5px;
	
}

.bodypart .linkpart h2{
	color:white;
}

.bodypart .linkpart .product {
	width:280px;
	height:370px;
	background-color:white;
	border-radius:10px;
}

.bodypart .contentpart {
	width:390px;
	height:440px;
	background-color:rgb(6,36,63);
	border-radius:10px;
	position:absolute;
	top:5px;
	left:300px;
}

.bodyparts{
	width:1000px;
	height:550px;
	background-color:white;
	border-radius:10px;
	position:relative;
	top:30px;
}

.bodyparts .contentcont{
	left:100px;
	background-color: rgb(6,36,63);
	position: relative;
	width:350px;
	height:350px;
	top:100px;
	border-radius: 10px
}

.bodypart .contentcont .h2{
	font-color:white;
}

.bodypart .contentpart h2{
	color:white;
}

.bodypart .contentpart .content {
	width:380px;
	position:relative;
	top:5px;
	height:365px;
	background-color:white;
	border-radius:10px;
}

.bodypart .gallerypart {
	width: 300px;
	height:440px;
	background-color:rgb(6,36,63);
	border-radius:10px;
	position:absolute;
	top:5px;
	left:695px;
}

.bodypart .gallerypart h2{
	color:white;
}

.bodypart .gallerypart .gall{
	width:295px;
	position:relative;
	height:365px;
	top:5px;
	background-color:white;
	border-radius:10px;
}

a{
	color:white;
	position:relative;
	top:40px;
	text-decoration:none;
	font-size:120%
}

h1{
	color:white;
	text-align:center;
	position:relative;
	top:60px;
}

.contact{
	width:1000px;
	height:400px;
	background-color:white;
	position:absolute;
	top:150px;
	left:200px;
	border-style:groove;
	border-radius:10px;
}

.button{
	width:200px;
	height:30px;
	top:300px;
	left:800px;
}

.secbutton{
	width:200px;
	height:30px;
	position: absolute;
	left:0px;
}

.bodyparts .image{
	width:200px;
	height:200px;
	position:absolute;
	top:40px;
	left:20px;
	float:left;
}

.home{
	width:50px;
	position:absolute;
	top:60px;
	right:200px;
	color:white;
}

.bodypart .forcomment{
	width:1000px;
	height:800px;
	border-style: groove;
	border-radius: 10px;
	top:50px;
}
.bodypart .forcomment .details{
	float : left;
}

.pagination {
	display: inline-block;
    padding: 0;
    margin: 0;
}
.titles{
	width:100px;
	top:20px;
	left:200px;
}

.comment{
	width:1000px;
	height: auto;
	background-color:white;
	top:40px;
	border-radius: 10px;
	position:relative;
	border-style:inset;
	
}

.bodypart2{
	width:1000px;
	height:auto;
	background-color:white;
	border-radius:10px;
	position:relative;
	top:30px;
}

.comment p:nth-last-child(odd) {
    background: rgb(6,36,63);
    width:1000px;
    border-radius: 5px;
    height:35px;
  
    
}

.comment p:nth-last-child(even) {
    background: rgb(6,36,63);
    width:1000px;
    border-radius: 5px;
    height:35px;
}

.textfield{
	width:300px;
	height:200px;
}
.tb1{
	width: 221px;
	background: transparent url('images/bg.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}

.bodypart5 .forcomment .details input[type="text"]{
	/*padding: 100px;*/
  	width:600px;
  	height:40px;
  	border: solid 5px #c9c9c9;
  	transition: border 0.3s;
}

.bodypart5 .forcomment .details input[type="text"].focus{
	border: solid 5px #969696;
}

.bodypart5 .forcomment .details input[type="button"]{
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: rgb(6,36,63);
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 10px;
  height: 40px
}

.bodypart5 .forcomment .details input[type="button"]:hover,
.bodypart5 .forcomment .details input[type="button"].hover{
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

.bodypart5 .forcomment .details input[type="button"]:active,
.bodypart5 .forcomment .details input[type="button"].active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

/*.bodypart5 .forcomment .commentbox{
background-color: #ececec;
position: relative;
border-style: groove;
border-radius: 10px;
left:8px;
top:100px;
width: 870px;
height:100px;
}
*/
.cl .dv{
background-color: #ececec;
position: relative;
border-style: groove;
border-radius: 10px;
left:8px;
top:100px;
width: 870px;
height:100px;
}

#mydiv .dv{
	background-color: #ececec;
position: relative;
border-style: groove;
border-radius: 10px;
left:8px;
top:100px;
width: 870px;
height:100px;
}

.bodypart5 .forcomment .commentbox h3{
/*	position: relative;
*/	left:1000px;
	right:1000px;
	top: -40px;
}

.bodypart5 .forcomment .commentbox h6{
/*	position: relative;
*/	left:600px;
	top:-50px;
}

.bodypart5 .forcomment .commentbox .img{
	float :left;
	position: relative;
	top:15px;
	left:10px;
}

.forcomment ul{
	list-style-type: none;
}

