{% load static from staticfiles %}
<html>

<head>
<link rel = "stylesheet" type = "text/css" href="{% static "css/style.css"%}"></link>
</head>
<body>
<center>
<div class="body">
<div class = "page">
  <div class = "header">
    <h1>SHALAKA SINHA</h1>
    <h3>Intern at Grofers.<br></h3>
  </div>
  <div class="linkspart">
    <!--<form action="/search/" method="get">-->
  	<a href = "{% url "homefile" %}">Home</a> &nbsp &nbsp &nbsp &nbsp
  	<a href = "{% url "articles" %}">My articles</a> &nbsp &nbsp &nbsp &nbsp
  	<a href = "{% url "contact" %}">Contact Me</a> &nbsp &nbsp &nbsp &nbsp
    <a href = "{% url "home" %}">log out</a> &nbsp &nbsp &nbsp &nbsp
    
      <!--  <input type="text" name="q"> 
      </input>
      <input type="submit" value="search"></input>
    </form>-->
  </div>
 {% block shalaka %} {% endblock %}
 </div>
</center>
</body>
</html>