<html lang="en">
<head>
<link rel = "stylesheet" type = "text/css" href="styles.css"></link>
<title>contact me</title>
</head>
<body>
<center>
<div class="contact">
<div class="image">
<img src = "http://static.wixstatic.com/media/2add6b_e5a7bc5d721e40729941257003a15c03.gif" width="200" height="200"></img>
</div>
<h2><b>e-mail us:</b><i><a href="mailto:sinhashalaka@gmail.com">sinhashalaka@gmail.com</a></i></h2><br>
<h2><b>facebook user id :</b><i><a href="https://www.facebook.com/shalaka.sinha">shalaka.sinha</a></i></h2><br>
<h2><b>linkedin :</b><i><a href="https://www.linkedin.com/profile/view?id=AAMAABIcy3YBXekb5uXJURnQY3bHtYcsgVFLpPY&trk=hp-identity-name">shalakasinha</a></i></h2><br>
<h2><b>twitter :</b><i><a href="https://twitter.com/SinhaShalaka">shalaka.sinha</a></i></h2><br>
</div>
<div class="home">
	<a href = "{% url "homefile" %}"><p>Home</p></a>
</div>
	<a href = "{% url "home" %}">log out</p></a>
</center>
</body>