{% extends 'basefile.html' %}
{% block link %}
<a href= "{% url "log" %}">{{x}}</a>&nbsp &nbsp
{% endblock %}
{% block pass %}
	<a href= "{% url "change1" %}">change password</a>&nbsp &nbsp
{% endblock %}
{% block shalaka %}
<div class= "bodyparts">
	<div class="image">
		<img src = "http://static.wixstatic.com/media/2add6b_e5a7bc5d721e40729941257003a15c03.gif" width="200" height="200"></img>
	</div>
	<div class="contentcont">
		<h2 style="color:white"><b>&nbspe-mail me:</b><i><u><a href="mailto:sinhashalaka@gmail.com">sinhashalaka@gmail.com</a></u></i></h2><br>
		<h2 style="color:white"><b>facebook:</b><i><u><a href="https://www.facebook.com/shalaka.sinha">shalaka.sinha</a></i></h2><br>
		<h2 style="color:white"><b>twitter:</b><i><a href="https://twitter.com/SinhaShalaka">shalaka.sinha</a></i></h2>
	</div>
</div>
{% endblock %}