{% extends 'basefile.html' %}


{% block shalaka %}
<form action="/goback/" method="get">
<div class="button">
<input type = "submit" name="bt" value ="home"></input>
 </div>
 </form>
        <p style="color : white ;font-size:25px" >{{posts.title}} </p>        
        <div class = "bodypart">
        <p style = "color : black">{{posts.content}}</p>
        </div>
  <form action="/like_post/" method="get">
  <div class = "button">
  <input type= "submit" value={{x}} onclick="like_post" id="id1" >+ {{posts.number_likes}}</input>
  </div>
  </form>

{% endblock %}