{% extends 'basefile.html' %}

{% block shalaka %}
<form action="/check/" method="get">
<p style="color:white">Views: {{posts.views}}</p>
<div class="button">
<input type = "submit" name="bt" value = "home"></input>
 </div>
 </form>
        	
        		<p style="color : white">{{posts.title}} </p>
        
        <div class = "bodypart">

        <p style = "color : black">{{posts.content}}</p>

    </div>
  <!--  <form>
   <div class = "comment">
   	<p style = "color:white">Enter name:</p>
   <input type = "text" name="name"></input><br>
   <p style = "color:white">Enter email-id:</p>
<input type="email" name="email"></input>
<p style = "color:white">Comment:</p>
<input type="text" name = "comment" ></input><br>
<input type="submit" name="bt2" value="comment"></input>
</div>
</form>-->
{% endblock %}
